doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title photoshop

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(data-bespoke-state='emphatic')
        h1 photoshop
        h2 sketch & painting
        p tutorial membuat foto dengan efek lukisan cat air dalam nuansa full color

      section(data-bespoke-state='emphatic')
        <img src="gambar/Sherina-121.jpg" class="cool">
        p model "sherina"
      section(data-bespoke-state='emphatic')
        <img src="gambar/awal.png">
        p masukan gambar ke dalam fhotoshop

      section(data-bespoke-state='emphatic')
        <img src="gambar/1.png">
        p klik menu image > adjustment > levels karena gambar hanya memerlukan sedikit koreksi levels pilih auto level


      section(data-bespoke-state='emphatic')
        <img src="gambar/2.png">
        p aktif pada "layer1" ubah nama menjadi "model". Klik menu Filter > Other > High Pass berikan nilai radius 1 pixels, klik OK

      section(data-bespoke-state='emphatic')
       <img src="gambar/3.png">
       p selanjutnya tekan CTRL + ShIFT + U. Ubah mode Blending layer "model" menjadi Overlay

      selection(data-bespoke-state='emphatic')
        <img src="gambar/4.png">
        p tekan ALT + SHIFT + CTRL + E , untuk menggabungkan background dengan model

      selection(data-bespoke-state='emphatic')
        <img src="gambar/4.5.png">
        p duplikat layer1 ubah nama menjadi mcutout lalu masuk ke menu filter > blur > surface blur. atur nilai radius = 20 dan threshold = 15 setelah selesai
      

      section(data-bespoke-state='emphatic')
        <img src="gambar/5.png">
        p masuk ke menu filter galerry > cutout atur parameter sesuai gambar 

      section(data-bespoke-state='emphatic')
        <img src="gambar/6.png">
        p duplikat layer m_cutout rename menjadi "m_cutout soft" ganti mode blending menjadi Soft Light

      section(data-bespoke-state='emphatic')
        <img src="gambar/7.png">
        p duplikat lagi layer m_cutout soft rename menjadi "m_cutout multy" ganti mode blending menjadi Multiply
      selection(data-bespoke-state='emphatic')
        <img src="gambar/8.png">
        p kembali ke levels geser slider white point ke nilai 152

      selection(data-bespoke-state='emphatic')
        <img src="gambar/9.png">
        p masi tetap di layer m_cutout multy klik menu Filter > Artistic > Poster Edges atur parameter sesuai gambar 

      selection(data-bespoke-state='emphatic')
        <img src="gambar/10.png">
        p duplicat layer1 rename "model_BW" lalu pindahkan posisi ke atas m_cutout multy 

      selection(data-bespoke-state='emphatic')
        <img src="gambar/11.png">
        p lalu tekan CTRL + SHIFT + U untuk merubah warna menjadi black and white

      selection(data-bespoke-state='emphatic')
        <img src="gambar/12.png">
        p duplikat layer model_BW aktif pada layer model_BW copy klik menu filter > other > maximum atur radius sesuai gambar

      selection(data-bespoke-state='emphatic')
        <img src="gambar/13.png">
        p tekan CTRL + I dan ubah mode blending menjadi Color Dodge sesuaikan hasil seperti gambar 

      selection(data-bespoke-state='emphatic')
        <img src="gambar/14.png">
        p pilih layer model_BW and model_BW copy selanjutnya tekan CTRL + E maka layer akan menjadi satu lalu rename menjadi outline

      selection(data-bespoke-state='emphatic')
        <img src="gambar/15.png">
        p di layer outline ubah blending menjadi lighten 

      selection(data-bespoke-state='emphatic')
        <img src="gambar/16.png">
        p duplikat layer m_cutout lalu letakan di atas layer outline ubah mode blending menjadi Hard Light

      selection(data-bespoke-state='emphatic')
        <img src="gambar/17.png">
        p hasil setelah blending di ubah 

      selection(data-bespoke-state='emphatic')
        <img src="gambar/18.png">
        p buat layer baru letakan di posisi paling atas gunakan brush tool ubah opacity menjadi 50% lalu padukan warna sesuai gambar 

      selection(data-bespoke-state='emphatic')
        <img src="gambar/19.png">
        p ubah blending di layer baru menjadi Overlay dan finish... 

      selection(data-bespoke-state='emphatic')
        <img src="gambar/finising.png" class="yes">

      selection(data-bespoke-state='emphatic')
        <img src="gambar/finish_black.png" class="yes">

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild